/* GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400;1,600&display=swap");

/*CSS RESET*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(241, 241, 241);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}

/* MENU HAMBURGUESA */
header {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 168, 192);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  margin-left: 20px;
  opacity: 1;
}

.bar-btn {
  font-size: 25px;
  color: white;
  margin: 0 25px 0 0;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  transition: all 0.5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}

.nav-menu li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.act,
.nav-menu li a:hover {
  color: rgb(248, 8, 168);
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

@media screen and (min-width: 992px) {
  .logo {
    margin-left: 50px;
  }

  nav {
    height: 100px;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 12px;
  } */
}

/* CARTAS */
.card-img {
  width: 100%;
  height: 100%;
  display: block;
}

.wrapper {
  margin: 20px 0;
  width: 100%;
}

.wrapper .cards-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-wrap .card-item{
  width: 100%;
  padding: 10px;
  box-shadow: 3px 3px 7px rgb(241, 168, 192);
  margin: 10px;
}

.cards-wrap .card-inner{
  background: rgb(241, 168, 192) ;
}

.cards-wrap .card-top{
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 0;
}

.cards-wrap .card-bottom{
  padding: 15px;
}

.cards-wrap .card-bottom .card-category{
  text-transform: uppercase;
  text-align: center;
}
.cards-wrap .card-bottom .card-info {
  padding: 15px;
  margin: 10px 0;
  
}
.cards-wrap .card-bottom .card-info .tittle {
  color:rgb(248, 8, 168) ;
  font-size: 18px;
  margin-bottom: 5px;
}
@media screen and (min-width: 470px){
  .cards-wrap .card-item{
    width: 40%;
  }
}

@media screen and (min-width: 754px){
  .cards-wrap .card-item{
    width: 25%;
  }
}

/* POPUP */
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}
.popup {
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 600px;
  transition: .3s ease all;
  transform: scale(0.7);
  opacity: 0;
}
.popup .btn-close-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #bbbbbb;
  transition: 0.3 ease all;
}
.popup .btn-close-popup:hover {
  color: black;
}
.popup h3 {
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 10px;
  opacity: 0;
}
.popup h4 {
  font-size: 20px;
  font-weight: 300px;
  margin-bottom: 40px;
  opacity: 0;
}

.popup form .container-inputs {
  opacity: 0;
}

.popup form .container-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #bbbbbb;
}

.popup form .btn-submit {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: rgb(241, 168, 192);
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(241, 168, 192, 0.7);
}

/* ANIMACIONES POPUP */

.popup.active {
  opacity: 1;
  transform: scale(1);
}
.popup.active h3{
  animation: entradaTitulo .8s ease .5s forwards;
}
.popup.active h4{
  animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .container-inputs{
  animation: entradaInputs 1s ease 1s forwards;
}

@keyframes entradaTitulo {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaSubtitulo {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaInputs {
  form {opacity: 0;}
  to {opacity: 1;}
  
}

/* contacto */

.formContact{
  background-color: #fff;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .8)
}

.formHeader{

  background-color: rgb(241, 168, 192);
  overflow: hidden;
  color: white;
}

.formHeader span{
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 2.5rem;
}

.contact{
  padding: .8rem;
  overflow: hidden;
  color: rgb(241, 168, 192);
}

.contact label, .contact input, .contact textarea{
  display: block;
  width: 100%;
  margin-bottom: 7px;
}

.contact label{
  font-weight: 700;

}
.contact input:not([type="submit"]), .contact textarea{
  border: none;
  border-bottom: 2px solid rgb(241, 168, 192);
  margin: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
}

.contact textarea{
  min-height: 100px;
}
input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: rgb(241, 168, 192);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}